.button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  margin: 0 auto;
  background-color: #22A39F;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 18px 3px #22A39F;
}

.button:disabled {
  box-shadow: none;
  pointer-events: none;
  background-color: #434242;
}